#index{
	background-image: url(../background.jpg);
}
#ashwin {
	background-color: #099ACB;
	height: 20%;
}
#head {
	color: #E7F6FA;
}
#topdiv{
	height: 20%;
	background-color: #099ACB;
	text-align: center;
	padding: 10px;
	
}
#belowdiv{
	top: 50px;
	height: 20%;
	background-color: #A4A4A4;
	text-align: center;
	padding: 10px;
	
}